/go/bin
/go/pkg
/go/dist
/go/keys/local
/html
/TESTS-*
/bazel-*
*.pdf
*.login
*.swp
*~
*#
.#*
.DS_Store
.idea/
.vscode/
*.iml
npm-debug.log
toolbelt.log
go.sublime*
*.go-e
.gopath/
*.orig
tags

**/node_modules/**

ci/reports
